.cart-container {
  /* max-width: 800px; */
  margin: auto;
  background-color: #0d0d0d;
  color: #fff;
  border-radius: 12px;
  /* padding: 20px; */
  font-family: sans-serif;
  border: 1.5px solid rgba(121, 121, 121, 1);
  position: sticky;
  top: 80px;
}

.cart-header,
.cart-item {
  display: grid;
  /* grid-template-columns: 2fr 2fr 1fr 1fr 1fr auto; */
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid #222;
}
/* .cart-item{
    gap:3px;
} */
.cart-header {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.2fr;
  padding: 20px 15px;
}
.cart-item {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr auto;
  padding: 15px 15px;
}
.cart-header h2 {
  font-size: 15px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
}
.cart-header {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  /* color: #aaa; */
  color: rgba(128, 128, 128, 1);
  border-bottom: 1.5px solid rgba(121, 121, 121, 1);
}

.cart-item-product {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}

.cart-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.cart-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}
.cart-item-price {
  font-size: 16px;
  color: #fff;
}
.cart-item-pack {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.cart-item-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item-quantity span {
  font-weight: 400;
}
.cart-item-quantity button {
  background-color: #222;
  color: #fff;
  border: none;
  width: 26.87px;
  height: 26.87px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  padding: 0px;
}
.cart-item-quantity .disactive{
  opacity: 0.5;
  cursor: auto;
}

.cart-item-subtotal {
  font-weight: 600;
  text-align: left;
  /* padding: 0px 16px 0px 0px; */
}

.cart-item-remove {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 14px;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  /* padding-top: 20px; */
  padding: 20px 20px;
}

.cart-footer button {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  letter-spacing: 0.5px;
}

.cart-footer button:hover {
  background-color: #333;
}

/* content 2 (apply coupon code) */
.cart-coupon-container {
  padding: 20px;
  border: 1.5px solid rgba(230, 230, 230, 1);
  border-radius: 20px;
  margin-bottom: 30px;
}
.cart-coupon-title {
  margin-bottom: 20px;
}
.cart-coupon-title h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 0px;
}
.cart-coupon-title .cart-applycoupon-btn {
  color: #fff;
  font-size: 14px;
  line-height: 8px;
}
.cart-coupon-container input,
.cart-coupon-container input:focus,
.cart-coupon-container input:hover {
  background-color: #000;
  border: 1.5px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 23px;
  /* box-shadow: none; */
}
.cart-coupon-container input:focus {
  box-shadow: rgba(255, 255, 255, 0.55) 0px 0px 5px 2.38px;
  color: #fff;
}
.cart-coupon-container .btn-checkout {
  width: 100%;
  background: rgba(34, 34, 34, 1);
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  font-weight: 550;
}
.cart-total-container {
  padding: 20px 18px 12px 18px;
  border: 1.5px solid rgba(230, 230, 230, 1);
  border-radius: 18px;
  position: sticky;
  top: 80px;
}
.cart-total-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 8px;
}
.cart-total-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  border-bottom: 1px solid rgba(229, 229, 229, 1);
}
.cart-total-content p {
  margin: 18px 0px 12px;
  font-size: 14px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.cart-total-content p:first-child {
  color: rgba(200, 200, 200, 1);
  letter-spacing: 0.2px;
}
.cart-applycoupon-notice {
  margin: 10px 0px;
  font-size: 14px;
  text-align: end;
  color: rgba(200, 200, 200, 1);
}
.cart-applycoupon-notice b {
  color: rgba(255, 255, 255, 1);
}
.cart-total-container .btn-checkout {
  width: 100%;
  background: linear-gradient(
    100.47deg,
    #c3942f 28.12%,
    #d89c27 41.31%,
    #e7dc96 53.42%,
    #dfc86f 65.82%,
    #d89c27 75.96%,
    #c99c30 84.47%
  );
  border-radius: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #000;
  margin: 12px auto 0px;
}
.cart-total-container .btn-checkout:focus,
.cart-total-container .btn-checkout:hover {
  border: none !important;
}
.cart-total-container .btn-checkout:hover {
  color: #fff;
}
/* related product section*/
.related-section .related-product-title {
  color: #fff;
  font-weight: 600;
  line-height: 1.8;
  text-transform: uppercase;
  font-size: 25px;
  margin-bottom: 20px;
}
.related-section .card:hover .product-title {
  min-height: 50px;
}
.related-section .card:hover .card-body {
  padding: 10px 10px 10px;
}
/* cart-empty */
.cart-page-empty {
  display: block;
  color: #fff;
  height: 40vh;
  align-content: center;
}
.cart-page-empty p {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.8;
}
.cart-page-empty a {
  color: #fff;
  border: 1.5px solid #fff;
  padding: 6px 15px 8px;
  border-radius: 8px;
  display: inline-block;
  font-size: 15px;
}
/* product delete dialog box css */
/* Overlay to cover the screen */
.confirmation-dialog-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  inset: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  /* background-color: #000;
  opacity: 0.2; */
}
/* The dialog box itself */
.confirmation-dialog {
  background: #222;
  padding: 20px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  max-height: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.confirmation-dialog h3 {
  font-size: 22px;
}
/* Action buttons in the dialog */
.confirmation-dialog-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
/* Styling for Remove button */
.btn-remove {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
/* Styling for Cancel button */
.btn-cancel {
  background-color: gray;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Button hover effect */
.btn-remove:hover,
.btn-cancel:hover {
  opacity: 0.9;
}

@media (max-width: 1200px) {
  .cart-header {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.275fr;
  }
  .cart-total-container,
  .cart-coupon-container {
    padding: 15px 15px;
    border-radius: 15px;
  }
  .cart-total-title {
    font-size: 22px;
  }
  .cart-coupon-title h2 {
    font-size: 16px;
  }
  .cart-coupon-title .cart-applycoupon-btn {
    font-size: 13px;
  }
  .cart-coupon-container input,
  .cart-coupon-container input:focus,
  .cart-coupon-container input:hover {
    padding: 8px 12px;
    border-radius: 8px;
  }
  /* related product section */
  .related-section .related-product-title {
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 0.5px;
  }
  .related-section .card .product-title {
    min-height: 40px;
  }
  .related-section .card:hover .product-title {
    min-height: 40px;
  }
}
@media (max-width: 991px) {
  .cart-header {
    grid-template-columns: 1.05fr 3fr 1fr 1fr 1fr 0.25fr;
  }
  .cart-item {
    padding: 15px 12px;
    grid-template-columns: 1.05fr 3fr 1fr 1fr auto auto;
  }
  .cart-header {
    padding: 18px 12px;
  }
  .cart-container {
    margin-bottom: 30px;
  }
  .cart-item-name {
    font-size: 16px;
  }
  .cart-item-price {
    font-size: 14px;
  }
  .cart-item-pack {
    font-size: 14px;
  }
  .cart-footer button {
    font-size: 14px;
  }
  .cart-header h2 {
    font-size: 14px;
  }
  .cart-item-quantity {
    padding-left: 5px;
  }
  .cart-item-subtotal {
    padding: 0px 10px 0px 0px;
  }
  .related-section .product-content-wrapper .product-price {
    line-height: 1.8;
  }
}
@media (max-width: 768px) {
  .cart-header {
    display: none;
  }
  .cart-item {
    padding: 15px 12px;
    grid-template-columns: 2fr 2.6fr 1fr 1fr 1fr auto;
  }
  .cart-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit(minmax(220px,1fr))); */
    grid-template-columns: 1fr 1fr;
    border: 0px;
    gap: 15px;
    position: relative;
    margin-bottom: 10px;
    background: #000;
    top:20px;
  }
  /* .card-item-product-title{
        display: none;
    } */
  .card-item-product-title {
    height: auto;
  }
  .cart-item {
    display: block;
    border: 1.5px solid #fff;
    border-radius: 10px;
    padding: 8px 10px 0px;
  }
  .cart-item-product {
    display: block;
  }
  .cart-item-product img {
    margin-bottom: 10px;
  }
  .cart-item-name {
    height: 100%;
    min-height: 53px;
  }
  .cart-item-quantity {
    margin: 5px auto 20px;
    gap: 20px;
  }
  .cart-item-quantity button {
    width: 35px;
    height: 35px;
  }
  .cart-footer {
    padding: 10px 5px;
    margin-bottom: 25px;
  }
  .cart-item-remove {
    width: 100%;
    background-color: rgba(14, 14, 14, 1);
    padding: 8px 10px;
    color: #fff;
    margin: 5px auto 15px;
    border-radius: 8px;
  }
  .cart-item-remove img {
    width: 25px;
    height: 25px;
    margin: 0px 8px;
  }
  .cart-page-empty p {
    font-size: 25px;
  }
  .cart-page-empty a {
    padding: 5px 15px 6px;
  }
}
@media (max-width: 576px) {
  .cart-container {
    grid-template-columns: 1fr;
    top:0px;
  }
  .cart-item-name {
    min-height: 0px;
  }
  .cart-item-quantity {
    margin: 15px auto 20px;
  }
  .cart-item-remove {
    padding: 10px;
  }
  .cart-page-empty p {
    font-size: 20px;
  }
}
/* new table design */
/* .cart-container thead tr{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(128, 128, 128, 1);
    border-bottom: 1.5px solid rgba(121, 121, 121, 1);
}
.cart-container thead tr th{
    font-size: 15px;
    margin-bottom: 0px;
    letter-spacing: 0.5px;
} */

/* checkout page css code */
.checkout-form {
  position: sticky;
  top: 80px;
}
.checkoutInputBox {
  margin: 5px auto 20px;
  width: 100%;
}
.checkoutInputBox input {
  background-color: #000;
  color: #fff;
  border: 1.4px solid rgba(255, 255, 255, 1);
  padding: 0.475rem 0.75rem 0.475rem 0.6rem;
}
.checkoutInputBox input:focus,
.checkoutInputBox select:focus {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  border-color: #fff;
}
.checkoutInputBox select {
  background-color: #000;
  color: #fff;
  border: 1.4px solid rgba(255, 255, 255, 1);
  padding: 0.475rem 2.25rem 0.475rem 0.6rem;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}
.checkoutInputBox p {
  font-size: 15px;
}

/* All coupon code section css ---------------------------------- */
.offer-popup {
  font-family: Arial, sans-serif;
  padding: 0;
}
.promo-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
}
.promo-input:focus {
  outline: none;
}
/* .offer-container {
  max-height: 400px;
  overflow-y: auto;
} */
.offer-card {
  display: flex;
  /* background: #f9f9f9; */
  background: #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 18px;
  align-items: center;
}
.offer-card.disable {
  opacity: 0.6;
  cursor: not-allowed;
}
.offer-logo img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  margin-right: 10px;
}
.offer-details {
  flex: 1;
}
.offer-tag {
  color: #4caf50;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 6px;
  display: inline-block;
  width: 100%;
}
.offer-warning {
  color: red;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
}
.offer-warning i {
  font-size: 9px;
}
.offer-title {
  font-weight: 700;
  margin: 5px 0;
  font-size: 15px;
  border-left: 3px solid #4caf50;
  padding: 0px 4px;
  /* color:#4caf50; */
}
.offer-desc {
  font-size: 13px;
  /* color: #555; */
  color: #808080;
  margin-bottom: 4px;
  line-height: 1.5;
}
.offer-code {
  font-size: 13px;
  background-color: #4caf5036;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 500;
  margin: 5px auto;
}
.offer-apply {
  margin-left: 10px;
}
.offer-card.disable .offer-apply .apply-btn:hover {
  background-color: #4caf5036;
  border: none;
  color: #fff;
}
.offer-apply .apply-btn:hover {
  background-color: #fff;
  border: 1px solid #4caf50;
  color: #4caf50;
}
div:where(.swal2-container) h2:where(.swal2-title) {
  font-size: 1.6em;
}
.apply-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 6px 12px;
  font-size: 13px;
  border-radius: 6px;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #0095dd;
}
div:where(.swal2-container) div:where(.swal2-popup) {
  background: #000 !important;
  color: #fff !important;
}
/* :root{
    --swal2-background: #000 !important;
} */
.checkout-page-section .form-check input {
  margin-top: 0.45em;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%23000'/%3e%3c/svg%3e");
}
.checkout-page-section .form-check input.disable{
  opacity: 0.5;
}
.checkout-page-section .form-check-input:checked[type="radio"] {
  background-color: #000;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.checkout-page-section .form-check label {
  font-size: 12px;
}
.checkout-page-section .form-check label b {
  color: #7fff48;
  font-weight: 500;
}
.checkout-page-section .form-check-input:checked {
  border-color: #fff;
  background-color: #fff;
  box-shadow: none;
}
@media (max-width: 1200px) {
  .checkout-page-section .row,
  .checkout-page-section .container {
    --bs-gutter-x: 0.8rem;
  }
  /* .checkoutInputBox p{
        font-size: 14px;
    } */
}
@media (max-width: 991px) {
  .checkout-form {
    border-radius: 10px;
    border: 1.5px solid #fff;
    padding: 15px 20px;
    margin-bottom: 25px;
  }
  .checkoutInputBox .form-label {
    margin-bottom: 5px;
  }
  .checkoutInputBox input,
  .checkoutInputBox select {
    border: none;
    border-bottom: 1.5px solid rgba(65, 65, 65, 1);
    border-radius: 0px;
    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  }
  .checkoutInputBox input:focus,
  .checkoutInputBox select:focus {
    box-shadow: none;
    border-color: #fff;
  }
}
@media (max-width: 768px) {
  .checkoutInputBox .form-label {
    margin: 0px 0px 3px;
  }
  .checkout-form input {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  }
}
@media (max-width: 576px) {
  .checkout-form {
    padding: 10px 15px;
  }
  .checkout-page-section .row,
  .checkout-page-section .container {
    --bs-gutter-x: 1.5rem;
  }
}
.checkout-success-wrapper {
  margin-bottom: 20px;
  background-color: transparent;
  padding: 40px;
  text-align: center;
  width: 60%;
  margin: 15px auto 65px;
  color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(195, 148, 47, 0.5);
  border-radius: 10px;
  /* box-shadow:  0 0 2rem 0.5rem rba(255,255,255,0.3); */
}

.checkout-success-message {
  font-size: 2.5em;
  color: #28a745;
  margin-bottom: 20px;
}
.order-status-processing {
  /* color:#ffc107; */
  color: #ffca2c;
  font-weight: bold;
  font-size: 1.2em;
}
.order-status-success {
  color: #28a745;
  font-weight: bold;
  font-size: 1.2em;
}

.order-status-failed {
  color: #d40707;
  font-weight: bold;
  font-size: 1.2em;
}

.order-id {
  font-size: 1.1em;
  font-weight: bold;
}

.contact-detalis {
  font-size: 1.1em;
  margin: 20px 0;
}
.contact-detalis strong {
  font-weight: 400;
}
.contact-detalis strong a {
  color: #fff;
  font-weight: 600;
}
.checkout-success {
  margin-top: 30px;
  padding: 20px;
  background: transparent;
  /* background: white; */
  /* border: 1px solid #dee2e6; */
  /* border-image-slice: 1;
    border-image-width: 1.5px;
    border:1px solid transparent;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%); */
  /* border: 1.5px solid;
    border-image-slice: 1;
    border-image-width: 1.5px;
    border-image-source: linear-gradient(130deg, #C3942F 0%, #D89C27 18%, #DFC86F 37%, #E7DC96 50%, #DFC86F 64%, #D89C27 82%, #C99C30 100%) !important; */
  border: 1.5px solid transparent;
  border-radius: 10px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(
        100.47deg,
        #c3942f 28.12%,
        #d89c27 41.31%,
        #e7dc96 53.42%,
        #dfc86f 65.82%,
        #d89c27 75.96%,
        #c99c30 84.47%
      )
      border-box;
  border-radius: 8px;
  color: #fff;
  height: 100%;
}

.receipt-table p {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.page-content {
  margin-bottom: 20px;
  margin-top: 10px;
}

.page-content .container {
  max-width: 1350px;
}

.page-content .container .checkout-success {
  background-color: #fff;
  padding: 20px;
  width: 100%;
  font-family: webfont;
}

.page-content .container .navbar {
  padding: 15px;
  background-color: #efefef;
  border-radius: 5px;
  display: block;
  font-size: 18px;
}

.page-content .breadcrumb {
  vertical-align: middle;
  align-items: center;
  margin-bottom: 0;
  color: #264882;
}

#content h1 {
  margin-top: 25px;
}

.content-wrap {
  font-size: 12px;
  /* color: #000000; */
}

.receipt-table {
  /* width: 680px; */
  margin: 0 auto;
}
.checkout-success h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.receipt-table p {
  margin: 0px 0px 20px 0px;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.receipt-table table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  margin-bottom: 20px;
}

.receipt-table thead td {
  font-size: 14px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  background-color: #efefef;
  padding: 7px;
  font-weight: bold;
  color: #222222;
}

.receipt-table tbody td {
  font-size: 14px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 7px;
}

.receipt-table tfoot td {
  text-align: right;
  padding: 7px;
  border-right: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.buttons .btn {
  background-color: #152238;
}

@media (max-width: 992px) {
  .page-content .container {
    max-width: 1230px;
  }

  .page-content .container .checkout-success {
    padding: 20px 20px 50px;
  }

  .receipt-table {
    width: 670px;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .page-content {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .page-content .container {
    padding: 0;
  }

  .receipt-table {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .page-content .container {
    max-width: 1100px;
  }

  .page-content .container .navbar {
    font-size: 16px;
  }
}
