/* text grident */
.txt-grident {
  background: linear-gradient(
    286.49deg,
    #c3942f 22.55%,
    #d89c27 32.43%,
    #dfc86f 42.86%,
    #dfc86f 50%,
    #d89c27 67.57%,
    #c99c30 77.45%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  color: transparent !important;
}
.txt-white {
  color: #fff;
}
.text-grident{
    background: linear-gradient(286.49deg, #c3942f 22.55%, #d89c27 32.43%, #dfc86f 42.86%, #dfc86f 50%, #d89c27 67.57%, #c99c30 77.45%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
}
a {
  text-decoration: none;
  color: transparent;
}
.breadcrumb-section {
  background: rgba(30, 30, 30, 1);
  display: flex;
  align-items: center;
}
.breadcrumb-section .breadcrumb {
  margin-bottom: 0px;
  letter-spacing: 0.3px;
}
.breadcrumb .breadcrumb-item a {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 600;
}
.breadcrumb .breadcrumb-item.active {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.Breadcrumbs-section {
  padding: 10px 0px;
  color: #fff;
  margin-bottom: 20px;
  background-image: url("../../public/img/breadcrumbs-bg1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 209px;
}
.Breadcrumbs-section nav {
  margin-top: 13%;
  position: relative;
}
.Breadcrumbs-section .breadcrumb {
  margin-bottom: 0px;
}
.Breadcrumbs-section .breadcrumb .breadcrumb-item.active a {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">");
}
/* .cart-main,
.wishlist-main {
  margin-top: 160px !important;
} */
@media (max-width: 1200px) {
  /* .cart-main,
  .wishlist-main {
    margin-top: 155px !important;
  } */
  .Breadcrumbs-section nav{
    margin-top: 15.8%;
  }
}
@media (max-width: 991px) {
  /* .cart-main,
  .wishlist-main {
    margin-top: 125px !important;
  } */
   /* .Breadcrumbs-section{
    height: 209px;
  } */
  .Breadcrumbs-section nav{
    margin-top: 21.5%;
  }
}
@media(max-width:768px){
  .Breadcrumbs-section nav{
    margin-top: 18.5%;
    width: 96%;
  }
  .Breadcrumbs-section{
    background-position: bottom;
    height: 175px;
    /* height: auto; */
  }
}
@media (max-width: 576px) {
  .cart-main,
  .wishlist-main {
    margin-top: 150px !important;
  }
  .Breadcrumbs-section nav{
    margin-top: 15.5%;
    margin-bottom: 15px;
    width: 78%;
  }
  .Breadcrumbs-section{
    height: auto;
  }
}
@media(max-width:480px){
  /* .Breadcrumbs-section{
    height: auto;
  } */
  .Breadcrumbs-section nav{
    margin-top: 19.5%;
    width: 70%;
  }
  .Breadcrumbs-section .breadcrumb .breadcrumb-item{
    font-size: 12px;
  }
  
}
/* loader css */
.Loader-wrapper {
  display: flex;
  align-items: center;
  margin: 0px auto 0px;
  justify-content: center;
  height: 100vh;
  animation: blinker 1.5s linear infinite;
  background-color: transparent;
}
.product-section .Loader-wrapper {
  height: 50vh;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
