
.home-main{
  margin-top: 180px;
}
.banner-section .swiper-pagination-bullet {
  width: var(
    --swiper-pagination-bullet-width,
    var(--swiper-pagination-bullet-size, 40px)
  );
  border-radius: 12px !important;
  height: var(
    --swiper-pagination-bullet-height,
    var(--swiper-pagination-bullet-size, 5px)
  );
}
.banner-section .swiper-pagination-bullet-active {
  background: #fff !important;
}

/* contact link section */
.contact-link-section {
  color: #fff;
  background: rgba(17, 17, 17, 1);
}
.contact-link-section-content h2 {
  font-size: 18px;
}
.contact-link-section p {
  font-size: 14px;
}
/* category section */
.category-section {
  /* margin: 30px auto 60px; */
  padding: 36px 0px 50px;
  text-align: center;
}
.category-section .row {
  margin-top: 40px;
}
.category-title {
  font-size: 16px;
  text-align: center;

  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.4px;
}
.category-subtitle {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
.category-content-wrapper {
  border: 1px solid #fff;
  border-radius: 12px;
}
.category-content-wrapper a {
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.dental-product-section {
  padding: 45px 0px 45px;
}
.banner-img-section {
  padding: 48px 0px 45px;
}
.premium-products-section {
  background: rgba(17, 17, 17, 1);
  padding: 40px 0px 40px;
}
.premium-products-section .shopping-bag-icon{
  width:40px;
  height: 40px;
  padding: 9px;
}
.Otherbanner-section {
  padding: 50px 0px 40px;
}

.RecentSearch-section {
  padding: 40px 0px 30px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 4 equal columns */
  /* grid-auto-rows: 150px; */
  /* gap: 10px; */
}

.grid-item {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 0px;
}
.grid-item .product-card-wrapper {
  padding: 5px 10px;
}
.card .product-img {
  padding: 20px 10px;
}

/* Big Product occupies 2 columns and 2 rows */
.big {
  grid-column: span 2;
  grid-row: span 2;
}
.product-cart-wrapper {
  padding: 20px 0px;
}
.product-cart-wrapper .heart-icon {
  padding: 12px;
  /* background-color: ; */
  background: rgba(17, 17, 17, 1);
  width: 10%;
  border-radius: 50%;
  margin: 0px 15px;
}
.product-cart-wrapper .eye-icon {
  width: 11%;
  padding: 12px;
  border-radius: 50%;
  margin: 0px 15px;
  background: rgba(17, 17, 17, 1);
}
.product-cart-wrapper .btn {
  background: linear-gradient(
    101.58deg,
    #636363 0.97%,
    #9b9b9b 20.97%,
    #b1b1b1 37.13%,
    #e1e1e1 50.61%,
    #b1b1b1 62.82%,
    #9b9b9b 76.44%,
    #636363 100.96%
  );
  color: #000;
  font-weight: 600;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  padding: 0.49rem 0.75rem;
  margin: 0px 15px;
}
.product-cart-wrapper .btn:hover {
  border: none;
}
.product-cart-wrapper .btn:focus {
  color: #000;
}
.product-card-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
 
}
.premium-products-section .big .product-card-title{
 margin-bottom: 0px;
 font-size: 18px;
}
.product-card-title.active {
  font-size: 18px;
  color: rgba(44, 116, 47, 1);
}
.big .product-price {
  font-size: 24px;
  margin-bottom: 15px;
}
.product-price {
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
}
/* .product-price span {
  color: rgba(153, 153, 153, 1);
  text-decoration: line-through;
} */
.product-price .text-muted{
  color: #bbb;
}
.product-price .fw-blod{
  color:#fff !important;
  font-weight: 600;
}
.rating-stars {
  padding: 0px 0px 10px;
}
.big .rating-stars i {
  font-size: 12px;
}
.rating-stars i {
  color: rgba(255, 138, 0, 1);
  font-size: 10px;
  margin: 0px 0.5px;
}
.rating-count {
  margin: 0px 10px;
  font-size: 14px;
  color: rgba(128, 128, 128, 1);
}
.sale-price-title,
.sale-time-wrapper p span {
  color: rgba(128, 128, 128, 1);
  text-align: center;
}
.sale-time-wrapper {
  gap: 20px;
  padding-bottom: 15px;
}
.sale-time-wrapper p {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.sale-time-wrapper p span {
  text-transform: uppercase;
  font-size: 12px;
}
.shopping-bag-icon {
  padding: 15px;
  width: 25%;
  background-color: rgba(17, 17, 17, 1);
  border-radius: 50%;
}
.dental-product-section .card-body .shopping-bag-icon,
.search-product-card .card-body .shopping-bag-icon {
  width: auto;
  padding: 9px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .dental-product-section .card-body .shopping-bag-icon,
  .search-product-card .card-body .shopping-bag-icon {
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .product-price{
    font-size: 14px;
  }
  .premium-products-section .product-cart-wrapper{
    padding: 15px 0px;
  }
  .premium-products-section .big .product-card-title{
    font-size: 14px;
    margin-bottom: 5px;
  }
  .banner-img-section{
    padding: 30px 0px 30px;
  }
  .RecentSearch-section{
    padding: 30px 0px 30px;
  }
}
@media (max-width: 991px) {
  .dental-product-section .card-body .shopping-bag-icon,
  .search-product-card .card-body .shopping-bag-icon {
    /* width: 20%; */
    padding: 9px;
  }
  .contact-link-section .row {
    padding: 12px 0px;
  }
  .contact-link-section-content {
    width: 100%;
  }
  .contact-content-wrapper {
    gap: 10px;
  }
  .premium-products-section .big .product-card-title{
    font-size: 16px;
  }
}
.category-content-wrapper .card-img-top,
.dental-product-section .card-img-top{
  padding: 30px 10px 20px;
}
.search-product-card .card-img-top{
  padding: 20px 10px 15px;
}
/* .card-img-top {
  padding: 30px 30px 5px;
} */
.RecentSearch-section .col-lg-3,
.dental-product-section .row .col-lg-3 {
  border: 1px solid #fff;
  border-radius: 6px;
}
.card {
  background-color: #000;
  /* border: 1px solid #fff; */
  color: #fff;
}
.dental-product-section  .card{
  height: 100%;
}
.disposable-swiper .card {
  border: 1px solid #fff !important;
}
.disposable-swiper .card .card-body .d-block{
  height: 70px;
}
.disposable-swiper .swiper-pagination .swiper-pagination-bullet{
  background:  #fff;
}

.product-filter-category-list {
  display: flex;
  justify-content: center;
  color: #fff;
  list-style: none;
  /* width:75%; */
  flex-wrap: wrap;
  margin: 25px auto;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.3px;
}
/* .product-filter-category-list .product-category{
    margin: auto;
} */
.product-filter-category-list .product-category {
  border-right: 1.5px solid rgba(180, 204, 180, 1);
  padding: 0px 20px;
  margin: 12px 0px;
}
.product-filter-category-list .product-category a {
  color: #fff;
  text-decoration: none;
}
.product-filter-category-list .product-category:last-child {
  border-right: none;
}
.product-filter-category-list .product-category:last-child a {
  color: rgba(128, 128, 128, 1);
}
.product-filter-category-list .product-category.active a{
    background: linear-gradient(286.49deg, #C3942F 22.55%, #D89C27 32.43%, #DFC86F 42.86%, #DFC86F 50%, #D89C27 67.57%, #C99C30 77.45%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
}
.card .discount-badge {
  background-color: #EA4B48;
  font-size: 0.9rem;
  font-weight: 400;
  z-index: 5;
  top:0px;
  left: 0%;
  right: auto !important;
  padding: 4px 8px !important;
}
.dental-product-section .card .discount-badge{
  left: -6%;
  top: 3px !important;
}
.contact-content-wrapper {
  padding: 15px 0px;
}
/* .contact-content-wrapper  img{
    padding: 10px 10px 20px;
    background-color: #000;
    border-radius: 50%;
} */
.contact-link-section-content {
  padding: 0px 10px;
}
.contact-link-section-content h2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.contact-link-section-content p {
  font-size: 14px;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 1.5;
}

@media (max-width: 1200px) {
  .contact-content-wrapper {
    padding: 10px 0px;
  }
  .contact-link-section-content {
    padding: 0px 8px;
  }
  .contact-link-section-content h2 {
    font-size: 15px;
  }
  .dental-product-section .card-img-top{
    padding: 10px 0px 0px;
  }
}
@media (max-width: 991px) {
  .dental-product-section .row .col-6:nth-child(7),
  .dental-product-section .row .col-6:nth-child(8) {
    display: none;
  }
  .product-filter-category-list{
    margin: 15px auto;
  }
}
@media (max-width: 768px) {
  .product-filter-category-list .product-category {
    padding: 0px 10px;
    margin: 8px 0px;
  }
  .product-filter-category-list {
    padding-left: 0rem;
    margin: 10px auto;
  }
  /* .dental-product-section .row{
        gap:30px;
    } */
  .dental-product-section .card-body .shopping-bag-icon,
  .search-product-card .card-body .shopping-bag-icon {
    /* width: 20%; */
    padding: 8px;
  }
  .contact-content-wrapper {
    display: block !important;
    text-align: center;
  }
  .contact-content-wrapper img {
    margin-bottom: 10px;
  }
  .product-filter-category-list .product-category:nth-child(5) {
    display: none;
  }
  /* .contact-link-section .row{
        padding: 12px 0px 0px;
    } */
  .contact-content-wrapper {
    padding: 20px 0px 10px;
  }
  .dental-product-section .row .col-6:nth-child(6),
  .dental-product-section .row .col-6:nth-child(5) {
    display: none;
  }
}
@media (max-width: 576px) {
  .dental-product-section .row {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px !important;
  }
  .product-filter-category-list .product-category {
    padding: 0px 10px;
    font-size: 12px;
    margin: 0px 0px 15px;
  }
  .dental-product-section .card-body .shopping-bag-icon,
  .search-product-card .card-body .shopping-bag-icon {
    width: 23%;
    padding: 9px;
  }
  .card .discount-badge{
    top:3px !important
  }
  .premium-products-section .discount-badge{
    top:0px !important;
  }
  /* .dental-product-section h2{
        margin-bottom: 0px;
    } */
  .RecentSearch-section .swiper-pagination{
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .category-title {
    margin-bottom: 12px;
  }
  .category-subtitle {
    font-size: 34px;
  }
  .premium-products-section .shopping-bag-icon{
    padding: 6px;
    width: 32px;
    height: 32px;
  }
  
  .premium-products-section .product-card-wrapper .product-card-title{
    font-size: 13px;
  }
 .premium-products-section .big .product-price{
  font-size: 20px;
 }
 .premium-products-section .product-cart-wrapper .heart-icon{
  padding: 8px;
 }
  .premium-products-section .card .product-img{
    padding: 5px 5px;
  }
  .grid-item .product-card-wrapper{
    padding: 5px 5px;
  }
}
@media (max-width: 991px) {
  .category-title {
    font-size: 15px;
  }
  .category-subtitle {
    font-size: 30px;
  }
  /* .RecentSearch-section .row .col-lg-3{
        padding-right: 0px ;
        padding-left: 0px;
    } */
  .RecentSearch-section .card-img-top {
    padding: 30px 10px 5px;
  }
  .premium-products-section .shopping-bag-icon{
    width: 38px;
    height: 38px;
    padding: 8px;
  }
  .disposable-swiper .card-body .shopping-bag-icon{
    /* width: 18% !important; */
    width:35px !important;
    height: 35px;
    padding: 7px;
  }
  .Otherbanner-section .col-lg-4 {
    margin-bottom: 25px;
  }
  /* .Otherbanner-section .col-lg-4:last-child {
    margin-bottom: 0px;
  } */
  .dental-product-section {
    padding: 25px 0px 35px;
  }
  /* .banner-img-section {
    padding: 48px 0px 36px;
  } */
  .banner-img-section{
    padding: 25px 0px 20px;
  }
  .RecentSearch-section{
    padding: 25px 0px 25px;
  }
  .category-section {
    padding: 34px 0px 40px;
  }
  .Otherbanner-section {
    padding: 45px 0px 35px;
  }
  .RecentSearch-section{
    padding: 0px 0px 30px;
  }
  .other-banner-img{
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .premium-products-section .card .product-img{
    padding: 20px 8px;
  }
  .premium-products-section .grid-container{
    grid-template-columns: repeat(3,1fr);
  }
  .product-cart-wrapper{
    padding: 10px 0px;
  }
  .product-cart-wrapper .heart-icon{
    padding: 8px;
    width: 9%;
  }
  .sale-time-wrapper{
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .RecentSearch-section .card-body .shopping-bag-icon {
    /* width: 20%; */
    width: 38px;
    height: 35px;
    padding: 8px 8px 7px;
  }
 
  .dental-product-section {
    padding: 5px 0px 20px;
  }
  .banner-img-section{
    padding:20px 0px 15px;
  }
  .category-section{
    padding:20px 0px 20px;
  }
  .premium-products-section{
    padding: 20px 0px 15px;
  }
  .Otherbanner-section{
    padding: 25px 0px 15px;
  }
  .RecentSearch-section{
    padding: 16px 0px 10px;
  }
  .RecentSearch-section .card-img-top{
    padding: 15px 10px 5px;
  }
  .premium-products-section .grid-container{
    grid-template-columns: repeat(2,1fr);
  }
  .premium-products-section .card .product-img{
    padding: 15px 8px;
  }
  .premium-products-section .shopping-bag-icon{
    padding: 9px;
    width: 40px;
    height: 40px;
    /* width: 18%; */
  }
  .premium-products-section .product-card-wrapper{
    height: 100% !important;
  }
  .premium-products-section .product-card-wrapper .product-card-title{
    font-size: 15px;
  }
  .grid-container .grid-item:nth-child(5),
  .grid-container .grid-item:nth-child(6),
  .grid-container .grid-item:nth-child(7),
  .grid-container .grid-item:nth-child(8),
  .grid-container .grid-item:nth-child(9),
  .grid-container .grid-item:nth-child(10),
  .grid-container .grid-item:nth-child(11){
    display: none;
  } 
  .category-subtitle{
    font-size: 26px;
  }
  .premium-products-section .section-title{
    font-size: 26px !important;
    margin-bottom: 0px;
  }
  /* .grid-container:nth-child(5) .card,
  .grid-container:nth-child(6) .card,
  .grid-container:nth-child(7) .card,
  .grid-container:nth-child(8) .card,
  .grid-container:nth-child(9) .card,
  .grid-container:nth-child(10) .card,
  .grid-container:nth-child(11) .card,
  .grid-container:nth-child(12) .card,
  .grid-container:nth-child(13) .card{
    display: none;
  } */
   
  .RecentSearch-section h2{
    margin-bottom: 0px;
  }
}
@media (max-width: 576px) {
  .RecentSearch-section .row {
    padding-left: 12px;
    padding-right: 12px;
  }
  .RecentSearch-section .card-img-top {
    padding: 30px 10px 8px;
  }
  .RecentSearch-section .card-body .shopping-bag-icon {
    width: 25%;
    padding: 10px;
  }
  .Otherbanner-section .col-lg-4{
    margin-bottom: 15px;
  }
  .category-title{
    font-size: 14px;
  }
  .category-subtitle{
    font-size: 20px;
  }
  .disposable-swiper .card-body .shopping-bag-icon{
    padding: 5px;
  }
  .disposable-swiper .card-body .shopping-bag-icon{
    width: 21% !important;
  }
  .premium-products-section .section-title{
    font-size: 20px !important;
  }
}
@media(min-width:992px){
  .disposable-swiper .swiper-pagination,
  .disposable-swiper .swiper-button-prev,
  .disposable-swiper .swiper-button-next,
  .categorySwiper .swiper-pagination,
  .categorySwiper .swiper-button-prev,
  .categorySwiper .swiper-button-next{
    display: none !important;
  }
  .category-section .swiper-wrapper{
    flex-direction: row !important;
    transform:none !important;
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
  }
  /* .category-section .container{
    padding: 0px 0px;
  } */
}
@media(max-width:991px){
  .category-section .swiper-button-next,
  .category-section .swiper-button-prev{
    display: none;
  }
  .category-section .swiper{
    padding-top: 15px;
    padding-bottom: 25px;
  }
  .categorySwiper .swiper-wrapper{
    justify-content: start !important;
  }
  .category-section .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom, -5px);
  }
  .category-section .swiper-pagination-bullet{
    background-color: #fff;
  }
  .category-section .card-img-top{
    padding: 15px 5px 5px;
  }
  .home-main{
    /* margin-top: 100px; */
    margin-top: 146px;
  }
  .navbar-bottom-highlight{
    margin: 12px 0px 0px;
  }
  /* .banner-section{
    margin-top: 13.5%;
  } */
}
/* @media(max-width:768px){
  .banner-section{
    margin-top: 18%;
  }
} */
@media(max-width:768px){
  .home-main{
    margin-top: 147px;
  }
}
@media(max-width:576px){
  .category-section .card-img-top {
    padding: 15px 0px 0px;
  }
  .category-content-wrapper{
    font-size: 14px;
  }
  .section-title{
    font-size: 20px !important;
    line-height: 1.5;
  }
  .premium-products-section .btn-view{
    padding: 5px 6px;
    font-size: 14px;
    /* width:27%; */
  }
  .premium-products-section .btn i{
    font-size: 14px;
  }
  .product-cart-wrapper .btn{
    border-radius: 8px;
  }
  .premium-products-section h1{
    margin-bottom: 0px;
  }
  .product-cart-wrapper .heart-icon{
    width:10.5%;
    padding: 9px;
  }
  .premium-products-section .shopping-bag-icon{
    padding: 10px;
    width: 25%;
  }
  .product-cart-wrapper .eye-icon{
    padding: 11px;
  }
  .category-section .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: var(--swiper-pagination-bottom,-5px);
  }
  .contact-link-section .row{
    padding: 12px 0px 0px;
  }
  /* .banner-section{
    margin-top: 25%;
  } */
  .home-main{
    margin-top: 145px;
  }
}
/* @media(max-width:480px){
  .banner-section{
    margin-top: 28%;
  }
} */
