body {
  background-color: #000;
}
.navbar-wrapper {
  background-color: #000;
  padding: 0px 0px 22px 0px;
  /* position: relative; */
  top: 0px;
  z-index: 1001;
  width: 100%;
  position: fixed;
  transition: all 0.3s ease;
}
.navbar-wrapper .navbar {
  padding: 15px 0px;
}
.search-icon-wrapper {
  display: flex;
  align-items: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}
.search-icon-wrapper .searchInput {
  background-color: #000;
  padding: 6px 120px 6px 35px;
  width: 100%;
  color: #fff;
}
.search-icon-position-sticky {
  justify-content: center;
}
.search-icon-position-sticky .searchInput {
  padding: 6px 10px 6px 35px;
}
.search-icon-wrapper .searchInput:focus {
  box-shadow: 0 0 0 0.25rem #dfc86f40;
  border: 1px solid #dfc86f;
}
.search-icon-wrapper .search-icon {
  position: relative;
  left: 30px;
  z-index: 1;
}
.search-icon-wrapper i {
  position: relative;
  left: 27px;
  z-index: 1;
  color: rgba(131, 131, 131, 1);
}
.search-icon-wrapper .btn-search {
  position: relative;
  right: 74px;
  background: linear-gradient(
    286.49deg,
    #c3942f 22.55%,
    #d89c27 32.43%,
    #dfc86f 42.86%,
    #dfc86f 50%,
    #d89c27 67.57%,
    #c99c30 77.45%
  );
  padding: 4px 11.9px;
}
.search-icon-wrapper .suggestion-main {
  margin-left: 16px;
  top: 60px;
  width: 30%;
  position: absolute;
  z-index: 1001;
  border: 1px solid #fff;
}
#suggestion-main {
  width: 20%;
}
.search-icon-wrapper .suggestions {
  top: 100%;
  width: 100%;
  background-color: #000;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: #fff;
  z-index: 1005;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}
.search-icon-wrapper .suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 1);
}
.search-icon-wrapper .suggestions li h2 {
  width: 200px;
  height: 100px;
  font-size: 16px;
}
.search-icon-wrapper .suggestions li:last-child {
  border-bottom: 0px;
}
.social-link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-link-wrapper .heart-icon {
  border-right: 1.5px solid #fff;
  /* width: 52%; */
  padding: 0px 14px 0px 7px;
}
.social-link-wrapper .user-icon {
  padding: 0px 0px 0px 8px;
}
/* .social-link-wrapper img {
  width: 45.5%;
  padding: 0px 11px 0px 11px;
} */
.navbar-wrapper .collapse {
  background-color: rgba(17, 17, 17, 1);
}
/* .navbar-wrapper .container-fluid{
    --bs-gutter-x: 8rem;
} */
.navbar-content-wrapper {
  top: 0;
}
.navbar-content-wrapper .navbar-nav {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  /* margin-left: 2.5%; */
}
.navbar-content-wrapper .navbar-nav .nav-item a {
  text-decoration: none;
  margin: auto 20px;
  color: #fff;
}
.navbar-content-wrapper .navbar-nav .nav-item a:first-child {
  margin: auto 20px auto 4px;
}
.navbar-content-wrapper .navbar-nav .nav-item .dropdown-toggle::after {
  content: none;
  border: 0px;
}
.navbar-content-wrapper .navbar-nav .nav-item .arrow-down-img {
  padding: 0px 3px;
}
.navbar-contact {
  display: flex;
  gap: 8px;
  padding-right: 20px;
  border-right: 1.5px solid #fff;
}
.navbar-cart-wrapper {
  padding-left: 20px;
}
.navbar-cart-counter {
  position: relative;
  right: 26%;
  background: linear-gradient(
    286.49deg,
    #c3942f 22.55%,
    #d89c27 32.43%,
    #dfc86f 42.86%,
    #dfc86f 50%,
    #d89c27 67.57%,
    #c99c30 77.45%
  );
  border-radius: 50%;
  border: 1.5px solid #fff;
  width: 22px;
  height: 22px;
  color: #000 !important;
  bottom: 6px;
  /* padding: 0px 2px 0px 5px; */
  font-weight: 500;
  margin-left: 0px;
  padding: 0px 6px;
  font-size: 13px;
}
/* .navbar-contact-wrapper{
    margin: 0px 5% 0px auto;
} */
.navbar-contact-wrapper span {
  color: #fff;
}
.navbar-contact:has(.navbar-contact-title.d-none) {
  border: none;
  padding-right: 5px;
  padding-left: 8px;
}
.navbar-contact-title.d-none:has(.navbar-contact) {
  border: none;
}
.number-counter {
  padding-left: 5px;
  position: relative;
}
.number-counter #cart-info {
  display: none !important;
}
.navbar-contact-wrapper p {
  color: rgba(200, 200, 200, 1);
}
/* dropdown menu */
.nav-item.dropdown {
  margin: 0px 20px 0px 4px;
  color: #fff;
}
.nav-item.dropdown .dropdown-menu.show {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  height: 200px;
  overflow-y: scroll;
}
.navbar-content-wrapper .navbar-nav .nav-item.dropdown a:first-child {
  margin: 0px 0px;
}
.nav-item.dropdown .dropdown-menu.show li a:hover ,
.nav-item.dropdown .dropdown-menu .dropdown-item:focus{
  background-color: rgba(153, 153, 153, 1);
  /* background-color: #000 !important; */
  color: #000 !important;
}
.navbarcontact-position-sticky .navbar-contact .heart-icon,
.navbarcontact-position-sticky .navbar-contact .user-icon,
.navbarcontact-position-sticky .search-icon-wrapper .search-icon,
.navbarcontact-position-sticky .search-input-content #search-icon {
  display: block !important;
}
.navbarcontact-position-sticky .navbar-contact .navbar-contact-title,
.navbarcontact-position-sticky .navbar-cart-wrapper #cart-info {
  display: none !important;
}
.navbarcontact-position-sticky .search-input-content #close-icon {
  display: block !important;
}
.navbarcontact-position-sticky .search-icon-wrapper .searchInput {
  display: block !important;
}
.navbarcontact-position-sticky #suggestion-main {
  display: block !important;
}
.navbarcontact-position-sticky .searchInput {
  display: flex !important;
}
.navbarcontact-position-sticky .navbar-contact {
  padding-right: 0px;
  border: 0px;
}
/* login dialog box */
.modal-backdrop{
  --bs-backdrop-zindex:3;
}
.navbar-wrapper .modal-header {
  border-bottom: 0px;
}
.navbar-wrapper .modal-body .modal-title{
  font-weight: 600;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}
.navbar-wrapper .modal-header .btn-close{
  margin-right: auto;
  margin-left: 0;
}
/* .navbar-wrapper .modal-body{
  padding-bottom: 40px;
} */
.navbar-wrapper .modal-dialog .modal-content{
  /* background-color: #000; */
  background: rgba(15, 15, 15, 1);
  color:#fff;
  box-shadow: 0px 0px 8px 0px #fff;
}
.navbar-wrapper .btn-close{
  background: transparent url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>") center / 1em auto no-repeat;
}
.navbar-wrapper .btn-close:hover,
.navbar-wrapper .btn-close:focus{
  box-shadow: none;
}
.navbar-wrapper .form-wrapper{
  margin: 40px 20px;
}
.phone-box {
  display: flex;
  align-items: center;
}
.phone-box span{
  position: absolute;
  margin-left: 2%;
  z-index: 1;
}
.phone-box input{
  background-color: #000 !important;
  padding: 8px 6px 8px 45px;
  color: #fff !important;
}
.phone-box input:focus{
  box-shadow: 0 0 0 .25rem rgba(255,255,255,.25);
  border-color:transparent;
}
.btn-sendOTP{
  position: relative;
  padding: 0.375rem 0.75rem 12px;
  width: 90%;
  /* margin: auto; */
  display: block;
  margin: 60px auto 20px;
  background: rgba(10, 10, 10, 1);
}
.btn-sendOTP:active,
.btn-sendOTP:focus{
  border: none;
}
/* .btn-sendOTP:hover::after{
  border: 2px solid transparent;
  border-image: linear-gradient(90deg, #0A0A0A 0%, #FFFFFF 50%, #0A0A0A 100%);
  display: block;
  margin: auto;
} */
.btn-sendOTP::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 50%;
  background: linear-gradient(90deg, #0A0A0A 0%, #FFFFFF 50%, #0A0A0A 100%);
  display: block;
  margin: auto;
}
.btn-sendOTP:hover::after{
  background: none;
}
.btn-sendOTP:hover{
  border: 1px solid #fff;
  box-shadow: 0px 0px 6px #fff;
}
.resend-wrapper a,.resend-wrapper p a{
  color: transparent;
  background-clip: text !important;
  font-weight: 500;
  background: linear-gradient(286.49deg, #c3942f 22.55%, #d89c27 32.43%, #dfc86f 42.86%, #dfc86f 50%, #d89c27 67.57%, #c99c30 77.45%);
}
/* .resend-wrapper p a{
  color:#fff;
} */
/* .btn-sendOTP:hover::after{
  content: "";
  position: relative;
  background: conic-gradient(0turn, #213, #112 5%, #112 60%, #213 95%) padding-box,
              conic-gradient(0turn, transparent 25%, #08f, #f03 99%, transparent) border-box, 
              conic-gradient(0turn, #213, #112 5%, #112 60%, #213 95%) border-box;
  animation: bg-spin 3s linear infinite;
} 
@keyframes bg-spin{
  to{
    --border-angle:1turn;
  }
} */
.navbar-wrapper .modal-body .modal-body p{
  font-weight: 400;
}
.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 12px;
  /* margin-bottom: 20px; */
  margin: 20px auto;
}

.otp-inputs input {
  width: 40px;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  outline: none;
  transition: all 0.3s ease;
}
.otp-inputs input:focus {
  border-bottom: 2px solid #d89c27;
  transform: scale(1.1);
}
.timer {
  /* font-size: 1.3rem; */
  font-weight: 600;
  color: #fff;
  text-align: center;
}
@media (min-width: 992px) {
  .navbar-wrapper .offcanvas {
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
    flex-grow: 1;
    width: 100% !important;
    height: 100% !important;
    visibility: visible !important;
    background-color: #000 !important;
    border: 0 !important;
    transform: none !important;
    transition: none !important;
  }
  .desktop-menu-hidden {
    visibility: hidden;
    pointer-events: none;
    position: fixed !important;
  }
  .navbar-wrapper .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-wrapper .offcanvas .offcanvas-body {
    overflow-x: inherit;
    display: flex;
    padding: 0px;
    z-index: 1;
    overflow-y: visible;
    justify-content: space-between;
  }
  .social-link-wrapper {
    position: absolute;
    right: 0%;
  }
  .social-link-wrapper .heart-icon {
    width: 50px;
  }
}
@media (max-width: 991px) {
  .search-icon-wrapper {
    width: 100%;
    margin: 25px 0px 0px;
    position: relative;
    /* display: none; */
  }
  .search-icon-wrapper .search-icon,
  .search-icon-wrapper i {
    position: absolute;
    left: 8px;
  }
  .search-icon-wrapper .btn-search {
    position: absolute;
    right: 2px;
  }
  .search-icon-wrapper .suggestion-main {
    width: 98%;
    top: 45px;
    margin-left: 7px;
  }
  .navbar-wrapper .navbar-toggler {
    margin-left: auto;
    border: 0px;
  }
  .navbar-wrapper .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-wrapper .navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>"); */
    background-image: url("../../public/img/menu-icon1.svg");
    width: 1.2em;
    height: 1.2em;
  }
  .social-link-wrapper .heart-icon {
    padding: 0px 14px 0px 0px;
  }
  .social-link-wrapper img {
    padding: 0px 2px 0px 8px;
  }
  .social-link-wrapper .search-icon {
    padding: 0px 2px 0px 0px;
    border-right: 1.5px solid #fff;
  }

  /* offcanvas  */
  .navbar-wrapper .navbar-offcanvas {
    background-color: #000c;
    color: #fff;
    justify-content: center;
    align-items: center;
    width: 40%;
    box-shadow: 1px 0px 6px #fff;
  }
  .navbar-wrapper .navbar-offcanvas .offcanvas-header {
    border-bottom: 0;
    margin-left: auto;
  }
  .navbar-wrapper .offcanvas .offcanvas-body {
    /* align-content: center; */
    display: block;
    height: 100%;
    padding-top: 0;
  }
  .navbar-content-wrapper .navbar-nav {
    flex-direction: column;
  }
  .navbar-content-wrapper .navbar-nav li {
    padding: 12px 0px;
  }
  .navbar-content-wrapper .navbar-nav .nav-item a:first-child {
    margin: auto;
  }
  .navbar-contact-wrapper {
    display: block !important;
  }
  .social-link-wrapper .heart-icon {
    /* width: auto; */
    padding: 0px 8px 0px 0px;
  }
  .navbar-contact {
    border-right: 0px;
    border-top: 1px solid #fff;
    margin: auto;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
  }
  .navbar-contact .user-icon {
    padding: 0px 8px 0px 0px;
    border-right: 1px solid #fff;
  }
  .navbar-cart-counter {
    position: absolute;
    right: -9%;
    bottom: 13px;
  }
  .offcanvas .btn-close {
    background: transparent
      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'><path d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/></svg>")
      center/1em auto no-repeat;
  }
  .navbar-top {
    top: 0px;
    position: fixed;
    background-color: #000;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar-contact-wrapper span {
    font-size: 14px;
  }
  /* .navbar-contact img {
    width: 13%;
  } */
  .search-icon-wrapper .suggestion-main {
    margin-left: 5px;
  }
}
@media (max-width: 576px) {
  .search-icon-wrapper .suggestion-main {
    margin-left: 3px;
    width: 100% !important;
  }
  .navbar-contact {
    display: block;
    padding-right: 15px;
  }
  .navbar-contact .user-icon {
    display: block;
    width: 20%;
    border-right: 0px;
    margin: auto auto 15px;
    padding: 0px;
  }
  .navbar-contact img {
    width: 14%;
    margin: 0px 5px;
  }
  .navbar-contact-wrapper span {
    font-size: 14px;
  }
  .navbar-content-wrapper .navbar-nav li {
    padding: 8px 0px;
  }
  .nav-item.dropdown {
    margin: 0px;
  }
  .navbar-wrapper .offcanvas .offcanvas-body {
    padding: 8px 5px;
  }
  .navbar-wrapper .navbar-offcanvas {
    width: 50%;
  }
  /* login dialogBox */
  .navbar-wrapper .modal-body .modal-title{
    font-size: 16px;
  }
  .navbar-wrapper .modal-body  p{
    font-size: 12px;
  }
}