.wishlist-container {
  margin: auto;
  background-color: #000;
  color: #fff;
  border-radius: 12px;
  font-family: sans-serif;
  border: 1.5px solid rgba(121, 121, 121, 1);
}
.wishlist-header,
.wishlist-item {
  display: grid;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #222;
}
.wishlist-header {
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr auto;
  padding: 20px 15px;
  color:rgba(128, 128, 128, 1);
}
.wishlist-item {
  grid-template-columns: auto 2fr 1fr 1fr 1fr auto auto;
  padding: 15px 15px;
  gap:10px;

}
.wishlist-header h2 {
  font-size: 15px;
  margin-bottom: 0px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.wishlist-item-product {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wishlist-product-img {
  margin: auto;
  padding: 0px 0px 0px;
}
.wishlist-item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.wishlist-item-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}
.wishlist-item-price {
  font-size: 16px;
  color: #fff;
}
.wishlist-item-pack {
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.wishlist-item-stock{
    width: 85%;
    display: block;
    margin: 0px 4%;
}
.wishlist-item-stock.instock{
    background: rgba(32, 181, 38, 1);
    color: #fff;
    text-transform: capitalize;
}
.wishlist-item-stock.outstock,
.wishlist-item-stock.outofstock{
    background: rgba(234, 75, 72, 1);
    color:#fff;
    text-transform: capitalize;
}

.wishlist-addTocart{
    background: rgba(32, 32, 32, 1);
    color:#fff;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 600;
    padding: 8px 24px;
}
.wishlist-addTocart:hover{
    border: 1.5px solid #fff;
    background: #000;
}
.wishlist-addTocart.outstock, .wishlist-addTocart.outofstock{
    opacity: 0.6;
}
.wishlist-addTocart.outstock:hover, .wishlist-addTocart.outofstock:hover,
.wishlist-addTocart.outstock:focus, .wishlist-addTocart.outofstock:focus{
    opacity: 0.6;
    border: 0px;
    background: rgba(32, 32, 32, 1);
}
.wishlist-item-remove {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 18px;
}
.wishlist-page-empty{
    display: block;
    color:#fff;
    height: 40vh;
    align-items: center;
}
.wishlist-page-empty p{
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.8;
}
.wishlist-page-empty a{
    color:#fff;
    border: 1.5px solid #fff;
    padding: 6px 15px 8px;
    border-radius: 8px;
    display: inline-block;
    font-size: 15px;
}
@media(max-width:1200px){
    .wishlist-item-stock{
        width: 100%;
    }
}
@media(max-width:991px){
    /* .wishlist-header{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr auto;
        gap:12px;
    } */
    .wishlist-item{
        padding: 15px 12px;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.7fr auto;
        gap:8px;
    }
    .wishlist-header{
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr auto;
        padding: 18px 12px;
        gap:8px;
    }
    .wishlist-container{
        margin-bottom: 30px;
    }
    .wishlist-item-name{
        font-size: 14px;
    }
    .wishlist-item-price{
        font-size: 14px;
    }
    .wishlist-item-pack{
        font-size: 14px;
    }
    .wishlist-header h2{
        font-size: 14px;
    }
    .wishlist-item-stock{
        font-size: 12px;
        width: 90%;
        padding: 0.275rem 0.55rem;
        border-radius: 4px;
    }
    .wishlist-product-img{
        padding: 0px 0px;
    }
    .wishlist-addTocart{
        padding: 8px 8px;
        font-size: 14px;
        width: 100%;
        border-radius: 8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .wishlist-item-remove{
        font-size: 14px;
    }
}
@media(max-width:991px) and (min-width:768px){
    .wishlist-addTocart{
        border-radius: 50%;
        padding: 10px;
        width: 73% 
    }
}
@media(max-width:768px){
    .wishlist-header{
        display: none;
    }
    .wishlist-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: 0px;
        gap:20px;
        position: relative;
    }
    .wishlist-item{
        display: block;
        border: 1.5px solid #fff;
        border-radius: 10px;
        padding: 15px 0px 0px;
    }
    .wishlist-item .wishlist-item-wrapper{
        padding: 15px 12px 0px;
    }
    .wishlist-item-remove{
        position: relative;
        /* top: 0%; */
        background-color: #000;
        color: #fff;
        display: none;
    }
    .wishlist-item-name{
        font-weight: 500;
        font-size: 16px;
    }
    .wishlist-item-stock{
        position: absolute;
        margin-top: -40%;
        width:13%;
        font-size: 14px;
        display: none;
    }
    .wishlist-item-product{
         margin: 15px auto;
    }
    .wishlist-item-price{
        font-size: 16px;
        font-weight: 600;
    }
    .wishlist-item-pack{
        font-size: 16px;
    }
    .wishlist-page-empty p{
        font-size: 25px;
    }
    .wishlist-page-empty a{
        padding: 5px 15px 6px;
    }
    .wishlist-item{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    /* .wishlist-product-img{
        margin: 10px auto;
    } */
}
@media(max-width:576px){
    .wishlist-page-empty p{
        font-size: 20px;
    }
    .wishlist-container{
        gap:12px;
    }
}