.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.new-loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.new-loader-spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left: 8px solid #c39428;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}
.ajax-loader{
  position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9999;
}
.ajax-loader i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  margin-top: -35px;
  margin-left: -35px;
  /* color:#0050FF; */
  color: #5456d4;
  font-size: 70px;
}
.loader-overlay{
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9900;
}
.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top-color: #c39428;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin: 20px auto; /* center */
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
